@model DynamicApp.ViewModels.CustomerApplications

@{
    ViewBag.Title = "ApplicationList";
}

<h2>ApplicationList</h2>


@using (Html.BeginForm("AddApplicationToCustomer", "Applications", FormMethod.Post))
{   
    @Html.Hidden("customerID", Model.Customer.id)

    <table class="table table-responsive table-bordered">
        <tr>
            <th>

            </th>
            <th>
                Application Group
            </th>
            <th>
                Application Name
            </th>
            <th>
                Application Version
            </th>
            <th>
                PackageID
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.ApplicationList)
        {
            <tr>
                <td>
                    <input type="checkbox" name="ids" value="@item.id" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Index)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Version)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PackageId)
                </td>
            </tr>
        }

    </table>
    <button class="btn btn-success">
        Add Packages
    </button>
}