@model IEnumerable<DynamicApp.Models.CMDynamicApplication>

@{
    ViewBag.Title = "Index";
}

<h2>Applications</h2>

@using (Html.BeginForm("AddApplicationsToCustomers", "Customers", FormMethod.Get ))
{
    <table style="display:none" id="appTable">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Application Group
                </th>
                <th>
                    Application Name
                </th>
                <th>
                    Application Version
                </th>
                <th>
                    Vendor
                </th>
                <th>
                    CreatedBy
                </th>
                <th>
                    DateCreated
                </th>
                <th>
                    Last Modified by
                </th>
                <th>
                    Date last modified
                </th>
                <th>
                    PackageID
                </th>

            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="appIDs" value="@item.id" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Index)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Version)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vendor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastModifiedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateLastModified)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PackageId)
                    </td>
                </tr>
            }
        </tbody>
       

    </table>
    
    <p>Add application to customers</p>
    <input type="submit" value="Add" />
}

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $("#appTable").DataTable();

            $("#appTable").css("display", "block");
        });
    </script>
}