@model IEnumerable<DynamicApp.Models.Customer>
@{
    ViewBag.Title = "AddApplicationsToCustomers";
    
    
}

<h2>AddApplicationsToCustomers</h2>
@using (Html.BeginForm("AddApplicationsToCustomers", "Customers", FormMethod.Post))
{
    foreach (var appId in (int[])ViewBag.AppIds)
    {
        <input type="hidden" name="appIDs" value="@appId" />
    }

    <table class="table table-responsive" id="customerTable">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CollectionID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Domain)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DomainShort)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.RDSVersion)
                </th>
                 <th>
                    @Html.DisplayNameFor(model => model.System)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.XAController)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.XenAppFarmName)
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                       <input type="checkbox" name="customerIDs" value="@item.id" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CollectionID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Domain)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DomainShort)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.RDSVersion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.System)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.XAController)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.XenAppFarmName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button class="btn btn-success">
        Add Packages
    </button>
}



@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#customerTable').DataTable({
            });

            // Handle form submission event
            $('#frm-customerTable').on('submit', function (e) {
                var form = this;

                // Encode a set of form elements from all pages as an array of names and values
                var params = table.$('input,select,textarea').serializeArray();

                // Iterate over all form elements
                $.each(params, function () {
                    // If element doesn't exist in DOM
                    if (!$.contains(document, form[this.name])) {
                        // Create a hidden element
                        $(form).append(
                            $('<input>')
                                .attr('type', 'hidden')
                                .attr('name', this.name)
                                .val(this.value)
                        );
                    }
                });
            });
        });
    </script>
}