@model List<DynamicApp.Models.Customer>
@{
    ViewBag.Title = "AddPackagesToCustomers";
}

<h2>AddPackagesToCustomers</h2>

@using (Html.BeginForm("AddPackagesToCustomers", "Customers", FormMethod.Post))
{
    foreach (var pckID in (int[])ViewBag.pckIDs)
    {
        <input type="hidden" name="pckIDs" value="@pckID" />
    }

    <table class="table table-responsive" id="customerTable">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Name
                </th>
                <th>
                    Location
                </th>
                <th>
                    Domain
                </th>
                <th>
                    RDSVersion
                </th>
                <th>
                    System
                </th>
                <th>
                    XAController
                </th>
                <th>
                    XenAppFarmName
                </th>
            </tr>
        </thead>

        <tbody>
            @for (var i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="customerIDs" value="@Model[i].id" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].Domain)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].RDSVersion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].System)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].XAController)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].XenAppFarmName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="Add Packages" class="btn btn-success" />
}


@*
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#customerTable').DataTable({
            });

            // Handle form submission event
            $('#frm-customerTable').on('submit', function (e) {
                var form = this;

                // Encode a set of form elements from all pages as an array of names and values
                var params = table.$('input,select,textarea').serializeArray();

                // Iterate over all form elements
                $.each(params, function () {
                    // If element doesn't exist in DOM
                    if (!$.contains(document, form[this.name])) {
                        // Create a hidden element
                        $(form).append(
                            $('<input>')
                                .attr('type', 'hidden')
                                .attr('name', this.name)
                                .val(this.value)
                        );
                    }
                });
            });
        });
    </script>
}
*@