@model IEnumerable<DynamicApp.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.inserted_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CollectionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Domain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DomainShort)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RDSVersion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCOM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.System)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.XAController)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfficeVersion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.XenAppFarmName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.inserted_at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CollectionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Domain)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DomainShort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RDSVersion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SCOM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.System)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.XAController)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfficeVersion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.XenAppFarmName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
