@model IEnumerable<DynamicApp.Models.CMOperatingSystem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-responsive table-bordered" id="osTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PackageId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PkgSourcePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceVersion)
            </th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Language)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PackageId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PkgSourcePath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SourceSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SourceVersion)
                </td>
            </tr>
        }
    </tbody>


</table>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#osTable').DataTable();

        });
    </script>
}