@model DynamicApp.ViewModels.CustomerOS

@{
    ViewBag.Title = "OSList";
}

<h2>OSList</h2>

@using (Html.BeginForm("AddOSToCustomer", "OperatingSystems", FormMethod.Post))
{
    @Html.Hidden("customerID", Model.Customer.id)

    <table class="table">
        <tr>
            <th>

            </th>
            <th>
                Name
            </th>
            <th>
                Language
            </th>
            <th>
                Description
            </th>
            <th>
                Package SourcePath
            </th>
            <th>
                PackageID
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.OSList)
        {
            <tr>
                <td>
                    <input type="checkbox" name="ids" value="@item.id" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Language)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PkgSourcePath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PackageId)
                </td>
            </tr>
        }

    </table>
    <input type="submit" value="Add" />
}