@model IEnumerable<DynamicApp.Models.Customer>

@{
    ViewBag.Title = "Home Page";

}

<h2>Customer Overview</h2>

    @Html.AntiForgeryToken()
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                   @Html.ActionLink("Name", "Index", new {  sortOrder = ViewBag.NameSortParam})
                </th>
                <th>
                   @Html.ActionLink("Location", "Index", new { sortOrder = ViewBag.LocationSortParam })
                </th>
                <th>
                   @Html.ActionLink("System", "Index", new { sortOrder = ViewBag.SystemSortParam})
                </th>
                <th>
                   @Html.ActionLink("RDSVersion", "Index", new { sortOrder = ViewBag.RDSVersionParam})
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.System)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RDSVersion)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "SelectCustomer", new { id = item.id }, null)
                    </td>
                    <td>
                        @Html.ActionLink("Copy Customer", "CopyCustomer", "Customers", new { id = item.id }, null)
                    </td>
                    <td>
                        @using (Html.BeginForm("Delete", "Customers", FormMethod.Get))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("id", item.id)
                            <button class="btn btn-danger" type="submit">
                                Remove Customer
                            </button>

                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>




