@model  DynamicApp.ViewModels.CustomerTask

@{
    ViewBag.Title = "SelectCustomer";
}

<h2>@ViewBag.CustomerName</h2>

        <div class="col-lg-6">
            <h2>Package table</h2>
            <table id="PackageTable" class="table table-responsive table-bordered">
                <tr>
                    <th>
                        PackageName
                    </th>
                    <th>
                        ProgramName
                    </th>
                    <th>
                        Package Group
                    </th>
                    <th>
                        PackageID
                    </th>
                </tr>
                @foreach (var item in Model.packageList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PackageName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProgramName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Index)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PackageID)
                        </td>
                        <td>
                            @using (Html.BeginForm("PackageMoveUp", "Home", FormMethod.Post))
                            {
                                @Html.Hidden("pckid", item.id)
                                @Html.Hidden("customerId", Model.customer.id)
                                <input type="submit" value="&uArr;" />
                            }
                            @using (Html.BeginForm("PackageMoveDown", "Home", FormMethod.Post))
                            {
                                @Html.Hidden("pckid", item.id)
                                @Html.Hidden("customerId", Model.customer.id)
                                <input type="submit" value="&dArr;" />
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>

        <div class="col-lg-6">
            <h2>Application table</h2>
            <table id="ApplicationTable" class="table table-responsive table-bordered">
                <tr>
                    <th>
                       Application Name
                    </th>
                    <th>
                        Application Version
                    </th>
                    <th>
                        Application Group
                    </th>
                    <th>
                        PackageID
                    </th>
                    <th></th>
                </tr>
                @foreach(var item in Model.applicationList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Version)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Index)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PackageId)
                        </td>
                        <td>
                            @using (Html.BeginForm("ApplicationMoveUp", "Home", FormMethod.Post))
                            {
                                @Html.Hidden("appid", item.id)
                                @Html.Hidden("customerId", Model.customer.id)
                                <input type="submit" value="&uArr;" />
                            }
                            @using (Html.BeginForm("ApplicationMoveDown", "Home", FormMethod.Post))
                            {
                                @Html.Hidden("appid", item.id)
                                @Html.Hidden("customerId", Model.customer.id)
                                <input type="submit" value="&dArr;" />
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>

        <div class="col-lg-12">
            <h2>Operating System Table</h2>
            <table id="osTable" class="table table-responsive table-bordered">
                <tr>
                    <th>
                        OS Name
                    </th>
                    <th>
                        OS Language
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Package SourcePath
                    </th>
                    <th>
                        PackageID
                    </th>
                </tr>
                @foreach(var item in Model.operatingSystem)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Language)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PkgSourcePath)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PackageId)
                        </td>
                    </tr>
                }
            </table>
        </div>


@section scripts {

    <script type="text/javascript">
        $(window).scroll(function () {
            sessionStorage.scrollTop@(Model.customer.id) = $(this).scrollTop();
        });

        $(document).ready(function() {
          if (sessionStorage.scrollTop@(Model.customer.id) != "undefined") {
            $(window).scrollTop(sessionStorage.scrollTop@(Model.customer.id));
          }
        });
    </script>    
    
}